@tailwind base;
@tailwind components;
@tailwind utilities;

/* *, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
} */

@layer base {
    @font-face {
        font-family: 'Futura';
        src: url('../public/assets/fonts/Futura.woff2') format('woff2');
        font-display: swap;
    }
    @font-face {
        font-family: 'Space Grostek';
        src: url('../public/assets/fonts/Space Grostek.ttf') format('truetype');
        font-display: swap;
    }
}
:root {
    --border-color-gray: #E9E9E9;
    --color-gray: #7C7C7CFF;
    --color-red: rgba(238, 20, 19, 1);
    --color-orange: rgba(237, 114, 13, 1);
    --color-yellow: #ffc200;
    --color-white-orange: rgba(237, 114, 13, .2);
    --gradient-color: linear-gradient(90deg, rgba(237, 114, 13, 1) 0%, rgba(238, 20, 19, 1) 53%, rgba(237, 114, 13, 1) 100%);
    font-family: 'Space Grostek', serif;
    --input-border-radius: .075rem;
    --button-border-radius: .075rem
}

.text-red {
    color: var(--color-red);
}

.text-orange {
    color: var(--color-orange);
}

.bg-gradient {
    background: var(--gradient-color) !important;
}

.bg-soft-orange {
    color: var(--color-orange);
    background-color: rgba(237, 114, 13, .2);
}

.bg-soft-white {
    color: var(--color-orange);
    background-color: rgba(255, 255, 255, .2);
}

#contact-us, #our-community, #newsletter, #our-story {
    padding: 100px 10px;
}

#nprogress .bar {
    background: var(--color-orange) !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--color-orange), 0 0 5px var(--color-orange) !important;
}

#nprogress .spinner-icon {
    border-top-color: var(--color-orange) !important;
    border-left-color: var(--color-orange) !important;
}

#contact-us input, #contact-us textarea {
    font-size: 18px;
    border-radius: var(--input-border-radius);
    margin-bottom: 12px;
    border: 1px solid var(--border-color-gray);
    padding: 20px 10px;
    width: 100%;
    display: block;
}

#contact-us input {
    height: 60px;
}

#contact-us textarea {
    height: 150px;
}

#contact-us input:focus {
    border: 1px solid var(--border-color-gray);
}

#contact-us textarea {
    display: block;
}

#contact-us button, button.bg-gradient {
    border-radius: var(--button-border-radius);
    background: var(--gradient-color);
}

#newsletter input {
    font-size: 18px;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--border-color-gray);
    padding: 20px 10px;
    width: 100%;
    display: block;
    height: 50px;
}

#newsletter button {
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
    padding: 0 20px;
    height: 50px;
}

#our-story .quotation-mark {
    margin-top: -10px;
    font-weight: bold;
    font-size: 100px;
    font-family: "Times New Roman", Georgia, Serif, serif;
}

.form-control {
    height: 30px;
    font-size: 14px;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--border-color-gray);
    padding: 20px 10px;
    color: var(--color-gray);
    width: 100%;
    display: block;
}

.select-control {
    height: 42px;
    font-size: 14px;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--border-color-gray);
    color: var(--color-gray);
    padding: 0 10px;
    width: 100%;
    display: block;
}

.modal {
    background: rgb(107 114 128);
    opacity: 1;
}

.modal {
    animation: show-modal .2s ease-in;
    transition-property: opacity;
}

@keyframes show-modal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--color-red);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-bottom: 4px solid var(--color-orange);
    border-left: 4px solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.item-card.left {
    background: rgb(255 255 255);
}

.item-card.right {
    background: rgb(64 64 64);
}

.item-card.left span {
    transform: rotate(-90deg);
    left: 2rem;
}

.item-card.right span {
    transform: rotate(90deg);
    right: 2rem;
}

.item-card.left button {
    right: 15px;
    color: var(--color-orange);
    background-color: rgba(237, 114, 13, .2);
}

.item-card.right button {
    left: 15px;
    color: var(--color-orange);
    background-color: rgba(255, 255, 255, .2);
}

.item-card.left button:hover, .item-card.right button:hover, #favorite-content button.checkout:hover {
    color: #FFFFFF;
    background: linear-gradient(90deg, var(--color-red), var(--color-orange), var(--color-red));
    animation: shine 1s linear;
    transition: ease-in 500ms;
    background-size: 200% auto;
}

.text-gradient {
    background: linear-gradient(90deg, var(--color-yellow), var(--color-red), var(--color-yellow));
    background-clip: border-box;
    word-wrap: break-word;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    background-size: 200% auto;
}

.text-gradient-simple {
    background: linear-gradient(90deg, var(--color-yellow), var(--color-red), var(--color-yellow));
    background-clip: border-box;
    word-wrap: break-word;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
}

@keyframes shine {
    100% {
        background-position: -200%;
    }
}

.preloader {
    position: relative;
    width: 48px;
    height: 48px;
    background: var(--color-orange);
    transform: rotateX(65deg) rotate(45deg);
    color: var(--color-red);
    animation: layers1 1s linear infinite alternate;
}

.preloader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(238, 20, 19, 0.7);
    animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
    0% {
        box-shadow: 0 0 0 0
    }
    90%, 100% {
        box-shadow: 20px 20px 0 -4px
    }
}

@keyframes layerTr {
    0% {
        transform: translate(0, 0) scale(1)
    }
    100% {
        transform: translate(-25px, -25px) scale(1)
    }
}

/*
    Footer
 */

footer ul li {
    margin-bottom: 5px;
}


/*
    Swiper
 */

#our-community :is(.swiper-button-prev, .swiper-button-next) {
    position: absolute;
    background: #FFFFFF;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    top: calc(50% - 20px);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark #our-community :is(.swiper-button-prev, .swiper-button-next) {
    background: #262626;
    border-color: var(--color-orange);
    border-width: 1px;
}

#our-community .swiper-button-prev {
    left: 20px;
}

#our-community .swiper-button-next {
    right: 20px;
}

#our-community .swiper-button-prev:before, #our-community .swiper-button-next:after {
    border-style: solid;
    border-width: 0.20em 0.20em 0 0;
    border-color: var(--color-orange);
    content: '';
    display: inline-block;
    height: 0.45em;
    position: relative;
    vertical-align: top;
    width: 0.45em;
}

#our-community .swiper-button-prev:before {
    transform: rotate(-135deg);
}

#our-community .swiper-button-next:after {
    transform: rotate(45deg);
}


/*
    Swiper in about Us
 */
#about-story :is(.swiper-button-prev, .swiper-button-next) {
    position: absolute;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    top: calc(50% - 20px);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-story .swiper-button-prev:before, #about-story .swiper-button-next:after {
    border-style: solid;
    border-width: 0.20em 0.20em 0 0;
    border-color: #262626;
    content: '';
    display: inline-block;
    height: 0.95em;
    position: relative;
    vertical-align: top;
    width: 0.95em;
}

#about-story .swiper-button-prev {
    left: 20px;
}

#about-story .swiper-button-next {
    right: 20px;
}

.dark #about-story .swiper-button-prev:before, .dark #about-story .swiper-button-next:after {
    border-color: #fff;
}

#about-story .swiper-button-prev:before {
    transform: rotate(-135deg);
}

#about-story .swiper-button-next:after {
    transform: rotate(45deg);
}
