@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family: 'Futura';
        src: url('../public/assets/fonts/Futura.woff2') format('woff2');
        font-display: swap;
    }
    @font-face{
        font-family: 'Space Grostek';
        src: url('../public/assets/fonts/Space Grostek.ttf') format('truetype');
        font-display: swap;
    }
}